# Node modules and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# TypeScript
*.tsbuildinfo

# MacOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Expo
.expo/
.expo-shared/

# Others
.env
